.textCenter {
    text-align: center;
}

.contacts {
    padding: 15px; 
    background-color: cadetblue;
}

.exRateHeader {
    text-align: center; 
    height: 50px ;
    background-color: lightgreen;
}
